/* styles.css */
.body{ text-align: center;
    background-color:#fa620afd;
}
.hex-coloridohamburguer {
 background-color: #FFFF00;
 color: #FF0000;
}
.bodynetflix{ text-align: center;
    background-color:#000000;
}
.hex-coloridonetflix {
    background-color: #ff0404;
    color: #000000;
}

.bodypizzaria{ text-align: center;
    background-color:#ffd154;
}
.hex-coloridopizzaria {
    background-color: #ffc400;
    margin-top: 20px;
    color: #fc0101;
}
